@charset "utf-8";

/*body style*/
h1{
    font-size: 50px;
    font-weight: bold;
}

body{
    width: 80%;
    margin: auto;
}

/*table style*/
table#product{
    border: 1px solid black;
    width: 70%;
    border-collapse: collapse;
    float: left;
}

table#product th{
    font-size: 24px;
}

/*product details style*/
table#product td img{
    border: 1px solid black;
    max-height: 150px;
    max-width: 150px;

}

table#product tr td:nth-of-type(2){
    text-align: left;
    padding-top: 5px;
    padding-right: 10px;
}

table#product td input{
    width: 20px;
    height: 20px;
}

table#product tr th:first-of-type{
    text-align: left;
    width: 150px;
}

table#product td{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*aside style*/
aside{
    float: left;
    border: 1px solid black;
    width: 25%;
    margin-left: 50px;
}

aside h2#selectAll {
    float: left;
    text-align: left;
    font-weight: unset;
}

aside form input{
    margin: 20px 10px 10px 20px;
    float: left;
    height: 30px;
    width: 30px;
}

aside table{
    clear: both;
    text-align: left;
    margin-left: 40px;
    font-size: 24px;
}

aside h2#checkOut{
    margin: 100px 80px 10px;
    padding: 20px 0px;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
}

a{
    text-decoration: none;
}