@charset "utf-8";

/*header style*/



/*body style*/

body{
    width: 80%;
    margin: auto;
}


/*h1*/
h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    display: block;
}




/*category style*/
section.category{
    width: 80%;
    height: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 10%;
    
}
section.category h2{
    float: left;
    border-style: solid;
    text-align: center;
    width: 25%;
    height: 100px;
    font-size: 50px;
    padding-top: 40px;
    margin: 30px;
    border-radius: 30px;
}



/*QnA style*/
section.QnA {
    clear: both;
}

section.QnA::after {
    clear: both;
    display: table;
    content: "";
}

section.QnA table{
    width: 100%;
    margin: 30px 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

section.QnA table th{
    width: 100px;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 48px;
}

section.QnA table td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 48px;
    padding-left: 20px;
}
/*get support style*/
section.getSupport{
    clear: both;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

a{
    text-decoration: none;
}


/*footer style*/
