@charset "UTF-8";
*{
    font-size: 12pt;
    font-family: Verdana, Geneva, Arial-black, sans-serif;
    color: black;
}

html{
    background-color: #B4C7E7;/*#A7AED5*/
    /*background: linear-gradient(#4F89FF, #9BE7FF);*/
}

body{
    max-width: 1600px;
    background-color: #447d7a59;/*#9F95BF*/
}

header, footer{
    background-color: #B4C7E7;
    background: linear-gradient(#4F89FF, #9BE7FF);
}

h1{
    background-color: #DAE3F3;
}

article{
    background-color: #BFD3F5;
}
