@charset "utf-8";

/*body style*/
h1{
    font-size: 45px;
    font-weight: bold;
}

body{
    width: 80%;
    margin: auto;
}

/*table style*/
table#product{
    border: 1px solid black;
    width: 75%;
    border-collapse: collapse;
    float: left;
}

table#product tr th{
    font-size: 20px;
    text-align: left;
}

/*product details style*/
table#product td img{
    border: 1px solid black;
    max-height: 150px;
    max-width: 150px;

}

table#product tr td:nth-of-type(2){
    text-align: left;
    padding-top: 5px;
    padding-right: 10px;
}

table#product td input{
    width: 20px;
    height: 20px;
}

table#product tr th:first-of-type{
    text-align: left;
    width: 150px;
}

table#product td{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table#product h2, table#product th{
    text-align: left;
    font-size: 20px;
    width: 100px;
}

table#product tr td h2.quantity input{
    width: 50px;
}

table#product tr td:first-of-type, table#product tr td:last-of-type{
    width: 20px;
}

table#product tr td h2#name{
    width: 120px;
}

table#product tr td h2#quantity{
    margin-left: 20px;
}

table#product tr h2.unitPrice::before, table#product tr h2.totalItemPrice::before{
    content: "RM ";
}
/*aside style*/
aside{
    float: left;
    border: 1px solid black;
    width:200px;
    margin-left: 30px;
}

aside h2#selectAll {
    float: left;
    text-align: left;
    font-weight: unset;
    font-size: 20px;
    padding-top: 3px;
}

aside input{
    margin: 20px 10px 10px 20px;
    float: left;
    height: 20px;
    width: 20px;
}

aside table{
    clear: both;
    text-align: left;
    margin-left: 10px;
    font-size: 24px;
}

aside table th, aside table td{
    font-size: 16px;
    font-weight: bold;
}

aside h2#checkOut{
    margin: 100px 50px 10px;
    padding: 20px 0px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    width: 100px;
}

a{
    text-decoration: none;
}