@charset "utf-8";
/*body style*/
body{
    width: 100%;
}

/*article style*/
h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    display: block;
}

h2{
    font-size: 30px;
}

article{
    width: 70%;
    border: 1px solid black;
    padding: 30px;
    margin: 40px 0px 0px 320px ;
    background-color: #BFD3F5;
}

article section#article0{
    display: block;
}

article section#article1, article section#article2, article section#article3{
    display: none;
}

/*paragraph style*/
p{
    font-size: 20px;
}

/*aside style*/
aside{
    float: left;
    width: 180px;
    text-align: center;
    border:1px solid;
    margin: 7px 20px 10px 80px;
    padding: 10px 10px 10px 0px;
    position: sticky;
    top: 60px;
    background-color: #BFD3F5;
}

aside li{
    margin-left: 0px;
}

aside ul h4:hover{
    cursor: pointer;
    text-decoration: underline;
}
/*img style*/

/*h3 style*/
