@charset "utf-8";
/*body style*/
body{
    width: 100%;
}

/*article style*/
h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    display: block;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 14px;
}

article{
    width: 70%;
    border: 1px solid black;
    padding: 30px;
    margin: 40px 0px 0px 23% ;
    background-color: #BFD3F5;
}

article::after{
    clear: both;
    content: "";
    display: table;
}

article section#article0{
    display: block;
}

article section#article1, article section#article2, article section#article3{
    display: none;
}

/*paragraph style*/
article p{
    text-indent: 50px;
    line-height: 1.5em;
    font-size: 20px;
}

/*aside style*/
aside{
    float: left;
    width: 14%;
    text-align: left;
    border:1px solid;
    margin: 7px 20px 10px 75px;
    padding: 10px 10px 10px 0px;
    position: sticky;
    top: 60px;
    background-color: #BFD3F5;
}

aside li{
    margin-left: 0px;
}

aside h3{
    text-align: center;
}

aside ul h4:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*img style*/
img{
    float: left;
    margin-right: 20px;
}

